<% include ../../../template-backoffice/e_arsip/header.ejs %>


<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="header">
    <h2><strong>Edit Data Arsip Inaktif</strong></h2>
    <div class="breadcrumb-wrapper">
      <ol class="breadcrumb">
        <li><a href="/backoffice">Dashboard</a></li>
        <li><a href="/manajemen_earsip/arsip_inaktif">Data</a></li>
        <li class="active">Edit Data</li>
      </ol>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel">
        <div class="panel-content">
          <form role="form" action="/manajemen_earsip/arsip_inaktif/submit_edit" method="POST" enctype="multipart/form-data">
            <input type="hidden" class="form-control" name="id" id="" value="<%= data[0].id%>">

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                  <label>Judul</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <input type="text" class="form-control" name="judul" id="" value="<%= data[0].judul%>">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Bidang</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                     

                      <select name="bidang" id="" class="form-control">
                        <option value="">-- Pilih --</option>
                        <% for(var i=0; i<unit_kerja.length; i++){%>
                          <option value="<%= unit_kerja[i].id%>" <%if(unit_kerja[i].id==data[0].bidang){%>selected<%}%>><%= unit_kerja[i].unit_kerja%></option>
                          <%}%>
                      </select>
                    </div>
                  </div>
                </div>
                
                

                <div class="form-group">
                  <label>Deskripsi</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <textarea name="deskripsi" id="" class="form-control" rows="10"><%- data[0].deskripsi%></textarea>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Upload Dokumen</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <input type="file" class="form-control" name="file" id="">
                      <a href="/foto/<%= data[0].file%>" target="_blank">Lihat File</a>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Masa Berlaku</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <input type="text" class="form-control" name="masa_berlaku" id="tgl1" value="<%= data[0].masa_berlaku2%>">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Status</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <select name="status" id="" class="form-control">
                        <option value="">-- Pilih --</option>
                        <option value="0" <%if(data[0].status=="0"){%>selected<%}%>>Aktif</option>
                        <option value="1" <%if(data[0].status=="1"){%>selected<%}%>>Inaktif</option>

                      </select>
                    </div>
                  </div>
                </div>

                <button type="submit" class="btn btn-primary btn-embossed">Simpan</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="copyright">
      <p class="pull-left sm-pull-reset">
        <span>Copyright <span class="copyright">©</span> 2021</span>
        <span>Pemerintah</span>.
      </p>
    </div>
  </div>
</div>
<!-- END PAGE CONTENT -->

<% include ../../../template-backoffice/e_arsip/footer.ejs %>
<script type="text/javascript">

</script>